$black: #222222;
$total-black: #000000;
$black-bkg: #222224;
$pink-bkg: #f1e4e6;
$pink-color: #f09ba7;
$pink-text: #f16d7f;
$gray-text: #9f9f9f;
$light-gray-bkg: #f8f8f8;
$white: #fbfbfb;
$total-white: #FFFFFF;