.cart {
    &-wrp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 96px auto 128px;
    }

    &__page {
        @include page;

        &-title {
            @include page-title;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
        display: flex;
        width: 652px;
        margin: 0 0 40px;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));

        &-icon {
            position: absolute;
            top: 28px;
            right: 22px;
            padding: 0;
            border: none;
            background: transparent;

            &:hover .cart__item-cross,
            &:focus .cart__item-cross {
                color: $active;
            }
            &:active .cart__item-cross {
                color: $active-light;
            }
            &:focus {
                outline: none;
            }
            


        }
        
        &-cross {
            color: #575757;
            height: 18px;
            width: 18px;
        }

        &-info {
            padding: 22px 0 0 31px;
            background-color: $total-white;
            width: 390px;
        }

        &-title {
            text-transform: uppercase;
            font-size: 24px;
            line-height: 29px;
            color: $black;
            font-weight: normal;
            max-width: 262px;
            margin: 0 0 41px;
        }

        &-details {
            font-size: 22px;
            line-height: 26px;
            color: #575757;

            &_pink {
                color: $pink-text;
            }
        }

        &-quantity {
            width: 43px;
            height: 24px;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
            text-align: center;
            border: 1px solid #EAEAEA;
            margin: 0 0 0 24px;

            &:focus {
                outline: 2px solid $active;
            }
        }
    }

    &__button {
        text-transform: uppercase;
        padding: 16px 40px;
        background-color: $total-white;
        border: 1px solid #A4A4A4;
        margin: 32px 0 0 0;

        &-wrp {
            display: flex;
            justify-content: space-between;
        }

        &:hover,
        &:focus {
            background-color: $active;
            color: $total-white;
            border: $active-light;
            border: 1px solid $active-light;
            outline: none;
        }
        &:active {
            background-color: $active-light;
            border: 1px solid $active;
            color: $active;
            outline: none;
        }
    }
}



